

$dark-blue-palette: (
  50 : #efeff2,
  100 : #b9d1d9,
  200 : #6e9fbc,
  300 : #009286,
  400 : #009286,
  500 : #009286,
  1000: #009286,
  A100 : #70bbff,
  A200 : #3da3ff,
  A400 : #0a8aff,
  A700 : #007ef0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);


$orange-palette: (
  50 : #fbe9d0,
  100 : #f6ca8b,
  200 : #f3b55c,
  300 : #e0a02e,
  400 : #ee9517,
  500 : #ed8b00,
  600 : #d87f00,
  700 : #c27200,
  800 : #ad6600,
  900 : #975900,
  A100 : #009286,
  A200 : #009286,
  A400 : #009286,
  A700 : #009286,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);


$dark-grey-palette: (
  50 : #f7f7f7,
  100 : #eaeaea,
  200 : #dddddd,
  300 : #cfcfcf,
  400 : #c4c4c4,
  500 : #bababa,
  600 : #b3b3b3,
  700 : #ababab,
  800 : #a3a3a3,
  900 : #949494,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffcccc,
  A700 : #ffb3b3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$rose-red-palette: (
  50 : #fbe1e7,
  100 : #f5b4c4,
  200 : #ef839c,
  300 : #009286,
  400 : #009286,
  500 : #009286,
  600 : #009286,
  700 : #009286,
  800 : #009286,
  900 : #009286,
  A100 : #fff2f3,
  A200 : #ffbfc3,
  A400 : #ff8c93,
  A700 : #ff737b,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


