<div fxLayout="column wrap" fxLayoutAlign="end stretch" fxLayoutGap="20px">
  <div class="mat-card  mat-elevation-z6">
    <h3>Recipe List</h3>
  </div>

  
  <div class="request-configuration-row" fxLayout="column wrap">
    <div class="mat-card mat-card-request mat-elevation-z6 ">
      <mat-tab-group>

        <mat-tab label="Table view">

            <mat-spinner *ngIf="isLoading"></mat-spinner>
          <div class="mat-card mat-card-request mat-elevation-z6" fxLayout="column wrap" fxLayoutAlign="end stretch"
            fxLayoutGap="20px">

     
            <div class="mat-elevation-z8" >
                                   
              <br>
             
              <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> S.No </th>
                  <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                </ng-container>

                <ng-container matColumnDef="recipeTitle">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                  <td mat-cell *matCellDef="let row"> {{row.recipeTitle}} </td>
                </ng-container>

                <ng-container matColumnDef="recipeDescription">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                  <td mat-cell *matCellDef="let row"> {{row.recipeDescription}} </td>
                </ng-container>

                <ng-container matColumnDef="recipeCreatedAt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
                  <td mat-cell *matCellDef="let row"> {{row.recipeCreatedAt}} </td>
                </ng-container>


                <ng-container matColumnDef="actionview">
                  <th mat-header-cell *matHeaderCellDef>
                    View Recipe </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-button color="primary" (click)="viewRecipe(row)">
                      View
                    </button>
                </ng-container>
                <ng-container matColumnDef="actionedit">
                  <th mat-header-cell *matHeaderCellDef>
                    Modify Recipe </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-button color="primary" [routerLink]="['/edit', row.id]">
                      Edit
                    </button>
                </ng-container>
                <ng-container matColumnDef="actiondelete">
                  <th mat-header-cell *matHeaderCellDef>
                    Delete Recipe </th>
                  <td mat-cell *matCellDef="let row">
                    <button mat-button color="warn" (click)="onDelete(row.id)">
                      Drop
                    </button></td>
                </ng-container>
                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  </th>
                  <td mat-cell fxLayout="row wrap" *matCellDef="let row" fxLayoutAlign="center stretch">
                    <mat-card>
                      <mat-card-header>
                        <img mat-card-avatar class="smallimage" [src]="'data:image/jpg;base64,' + row.imagepath"
                          onError="this.src='./errorImage2.jpg'">
                      </mat-card-header>
                    </mat-card>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
                <p class="info-text mat-body-1">No recipe added yet!</p>


              </table>
              
            </div>
          </div>
        </mat-tab>

        <mat-tab fxLayout="column wrap" label="List View" fxLayoutGap="40px">
          <div class="mat-card mat-card-request mat-elevation-z6" fxLayoutGap="40px">
            <div class="mat-card mat-card-request mat-elevation-z6" fxLayout="column wrap" fxFlex="70%"
              fxLayoutAlign="start stretch">
              <app-recipe-datalist (recipeWasSelected)="selectedRecipe = $event"></app-recipe-datalist>
              <hr>
            </div>

            <mat-divider fxShow="false" fxShow.gt-sm [vertical]="true"></mat-divider>

            <div class="mat-card-request mat-elevation-z6" fxLayout="column wrap" fxFlex="30%"
              fxLayoutAlign="start stretch">
              <app-recipe-details *ngIf="selectedRecipe; else infoText" [recipe]="selectedRecipe"></app-recipe-details>
              <div fxLayoutAlign="center stretch" mat-elevation-z6 info>
                <ng-template #infoText>
                  <p style="text-align:center" fxLayoutAlign="center center">Please select a Recipe!</p>
                </ng-template>
              </div>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>