<div fxLayout="column wrap" fxLayoutAlign="end stretch" fxLayoutGap="20px">
  <div class="mat-card  mat-elevation-z6">
    <h3>Recipe Item View</h3>
  </div>
  <div class="request-configuration-row">
    <div fxLayout="row" label="List View" fxLayoutGap="20px">

      <mat-card class="mat-card mat-card-request mat-elevation-z6" fxLayout="column wrap" fxFlex="30%"
        fxLayoutAlign="start stretch">
        <mat-card-header fxLayout.gt-xs="row" fxLayout.xs="column">
          <img mat-card-avatar class="smallimage" [src]="'data:image/jpg;base64,' + recipe.imagepath"
            onError="this.src='errorImage2.jpg'">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <span>{{recipe.recipeTitle}}</span>
            <div fxLayoutAlign="end stretch">
              <mat-icon [routerLink]="['/edit', recipe.id]">mode_edit</mat-icon>
              <mat-icon (click)="onDelete(recipe.id)">delete</mat-icon>
            </div>
          </mat-card-title>
        </mat-card-header>
        <img id="bigimage" [src]="'data:image/jpg;base64,' + recipe.imagepath"
          onError="this.src='./errorImage2.jpg'">

      </mat-card>
      
      <mat-divider fxShow="false" fxShow.gt-sm [vertical]="true"></mat-divider>

      <div class="mat-card-request mat-elevation-z6" fxLayout="column wrap" fxFlex="60%">

        <mat-card-content fxLayout="column wrap" fxFlex="100%" fxLayoutAlign="center center">
    
          <div fxLayout="column wrap" fxLayoutAlign="center center">
		   <div fxLayout="column wrap" fxFlex="100%">
            <p >
              <b>Description:</b>{{recipe.recipeDescription}}
            </p>
            <p >
              <b>Incredients:</b>{{recipe.recipeIncredients}}
            </p>

            <p>
              <b>Steps to proceed:</b>{{recipe.recipeCookingMethod}}
            </p>
			<p>
              <b>Recipe Suits:</b>{{recipe.number_of_sutiable}}
            </p>
            <p >
              <b>Vegeterian or Non Vegeterian:</b>{{recipe.vegitarian_non_vegiterian}}
            </p>
			</div>
          </div>


        </mat-card-content>


      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="recipe.id" cdkFocusInitial>Ok</button>
    </div>
  </div>
</div>