
  .cardimage{
    max-width:400px;
  }
  .smallimage{
    background-size:cover;
  }
 
  .bigimage {
    width: 100% ;
	height:100%;
    margin-bottom: 18%;
	background-size:cover;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  